body

video

ul#messages(style="list-style-type: none; margin: 0; padding: 0;")

form(method="POST")
    input(id="m" autocomplete="off")
    input( id="button" type="submit" value="Save")
include ../public/js/client.js