<style>
        * {
        	margin: 0; 
        	padding: 0; 
        	box-sizing: border-box; 
       	}
        body { 
        	font: 13px Helvetica, Arial; 
        }
        header{
            top:100%;
            padding:3px;
            background-color:blue;
            width: 100%;
            height: 50%;
            text-align:right;
        }
        #log-in{
            top:0;
            height: 75px;
            padding-top:1%;
            padding-bottom: 1%;
        }
        #nombre{
            height: 35px;
            border-style: solid;
            border-color: black;
            border-width: 3.5px;
            margin-right:2px; 
        }
        #region_text{
            height: 35px;
            border-style: solid;
            border-color: black;
            border-width: 3.5px;
            margin-right:2px;
        }
        #send_user{
            width: 9%; 
            background: rgb(130, 224, 255); 
            border: none; 
            padding: 10px;
        }
        #chat { 
        	background: #ffffff; 
        	padding: 3px; 
            position:fixed; 
        	bottom: 0; 
        	width: 50%; 
        }
        #chat_container{
            height: 100%;
            width: 50%;
            border-style: solid;
            border-color: blue;
            border-width: 1px;
        }
        #messages{
            list-style-type: none;
            margin: 0; 
            padding: 0;
            width: 100%;
        }
        #chat #chat_text { 
        	border: 0; 
        	padding: 10px; 
        	width: 90%; 
        	margin-right: .5%;
            border-top-style: solid;
            border-top-width:3px; 
            border-top-color:black;
        }
        #chat #send { 
        	width: 9%; 
        	background: rgb(130, 224, 255); 
        	border: none; 
        	padding: 10px; 
        }
        #messages { 
        	list-style-type: none; 
        	margin: 0; 
        	padding: 0; 
        }
        #messages li { 
        	padding: 5px 10px; 
        }
        #messages li:nth-child(odd) { 
        	background: #eee; 
        }
</style>